<div class="container">
    <h6 class="mt-5 fw-bold text-success">INDIA'S #1 JOB PLATFORM</h6>
    <h1 class="mt-3 fw-bold">Your job search ends here</h1>
    <h4 class="mt-3 fw-light">Discover 50 lakh+ career opportunities</h4>
    
    <!-- <form class="row g-2 mt-5" style="margin-left: 20% ;margin-right: 20%;">
        <div class="input-group">
          <span class="input-group-text">Search job by 'company'</span>
          <label for="companySearchValue" class="visually-hidden">company search value</label>
          <input type="text" class="form-control" id="companySearchValue" placeholder="Search your desired 'company'">
        </div>
         
        <div class="input-group">
            <span class="input-group-text" style="padding-right: 8%;padding-left: 8%;">Search job</span>
            <label for="jobSearchValue" class="visually-hidden">search Job Value</label>
            <input type="text" class="form-control" id="jobSearchValue" placeholder="Search your desired 'Job'">
        </div>
        
        <div class="input-group">
            <span class="input-group-text" style="padding-right: 2%;padding-left: 2%;">Search job by 'Location'</span>
            <label for="locationSearchValue" class="visually-hidden">Search job by Location</label>
            <input type="text" class="form-control" id="locationSearchValue" placeholder="Search your desired 'company'">
        </div>
        
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary mb-3">Search jobs</button>
        </div>
    </form> -->


    <form class="row g-2 mt-5" style="margin-left: 20% ;margin-right: 20%;" (ngSubmit)="onSubmit()" >
      <div class="input-group">
        <span class="input-group-text">Search job by 'company/Name/Title'</span>
        <label for="SearchJob" class="visually-hidden">search job</label>
        <input type="text" [(ngModel)]="searchCompany" class="form-control" id="SearchJob" name="SearchJob" placeholder="Search your desired 'company'">
      </div>
       
      <div class="input-group">
          <span class="input-group-text" style="padding-right: 8%;padding-left: 8%;">Remuneration Range</span>
          <label for="payingRange" class="visually-hidden">Remuneration Range</label>
          <input type="text" [(ngModel)]="minRange" class="form-control" id="payingRange" name="payingRange" placeholder="Remuneration Mini. Amount">
          <input type="text" [(ngModel)]="maxRange" class="form-control" id="payingRange" name="payingRange" placeholder="Remuneration Maxi. Amount">
      </div>
      
      <div class="input-group">
          <span class="input-group-text" style="padding-right: 2%;padding-left: 2%;">Search job by 'Location'</span>
          <label for="locationSearchValue" class="visually-hidden">Search job by Location</label>
          <input type="text" [(ngModel)]="searchLocation" class="form-control" id="locationSearchValue" name="locationSearchValue" placeholder="Search your desired 'company'">
      </div>
      
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mb-3">Search jobs</button>
      </div>
  </form>
  <!-- <ng-container *ngFor="let data of dataFromApi1;">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        {{data.MatchedObjectDescriptor.DepartmentName}}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            {{data.MatchedObjectDescriptor.JobCategory[0].Name}}
          </div>
        </div>
      </div>

  </ng-container> -->
  


  <div class="container">
    <p class="fw-bold">Showing 2487 jobs based on your filter</p>

    <div class="row">
        <div class="col-md-6" *ngFor="let jobVal of commonData">
            <a href="#" class="text-decoration-none">
                <table class="table table-striped table-dark border">
                    <thead>
                        <tr>
                            <th>JobName: {{jobVal?.MatchedObjectDescriptor?.PositionTitle}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Company Name: {{jobVal?.MatchedObjectDescriptor?.OrganizationName}}</td>
                        </tr>
                        <tr>
                            <td>Job Type: {{jobVal?.MatchedObjectDescriptor?.JobCategory[0]}}</td>
                        </tr>
                        <tr>
                            <td>Package: ${{jobVal?.MatchedObjectDescriptor?.PositionRemuneration[0].MinimumRange}} - ${{jobVal.MatchedObjectDescriptor.PositionRemuneration[0].MaximumRange}}</td>
                        </tr>
                        <tr>
                            <td>Location: ${{jobVal?.MatchedObjectDescriptor?.PositionLocationDisplay}}</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
    </div>
</div>



</div>
