<div class="container">
    <h6 class="mt-5 fw-bold text-success">INDIA'S #1 JOB PLATFORM</h6>
    <h1 class="mt-3 fw-bold">Your job search ends here</h1>
    <h4 class="mt-3 fw-light">Discover 50 lakh+ career opportunities</h4>
    
    <form class="row g-2 mt-5" style="margin-left: 20% ;margin-right: 20%;" >
        <div class="input-group">
          <span class="input-group-text">Search job by 'company'</span>
          <label for="companySearchValue" class="visually-hidden">company search value</label>
          <input type="text" class="form-control" id="companySearchValue" placeholder="Search your desired 'company'">
        </div>
         
        <div class="input-group">
            <span class="input-group-text" style="padding-right: 8%;padding-left: 8%;">Search job</span>
            <label for="jobSearchValue" class="visually-hidden">search Job Value</label>
            <input type="text" class="form-control" id="jobSearchValue" placeholder="Search your desired 'Job'">
        </div>
        
        <div class="input-group">
            <span class="input-group-text" style="padding-right: 2%;padding-left: 2%;">Search job by 'Location'</span>
            <label for="locationSearchValue" class="visually-hidden">Search job by Location</label>
            <input type="text" class="form-control" id="locationSearchValue" placeholder="Search your desired 'company'">
        </div>
        
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary mb-3">Search jobs</button>
        </div>
    </form>

    
</div>
