<div class="p-5" style="background-color: rgb(77, 57, 81);">
    <div class="container">
        <div class="row text-light bg-dark rounded p-3">
            <div class="col-6">
                <h1>General Manager</h1>
                <h5>Hanumaa Consultancy Services</h5>
                <h5>Pipari, Aligarh</h5>
                <h5>Apply Now</h5>
                <h5>100,000 - 149,999 per month (Fixed + incentives)</h5>
                <pre>Field job   Full-time</pre>
            </div>
            <div class="col-6 text-center p-5">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="row col-6">
            <h3>Job Details</h3>
            <h5 class="col-6">
                <pre>Education<p class="fw-bolder">Diploma (Associate Degree)</p></pre>
                <pre>Experience<p class="fw-bolder">Min. 5 Years</p></pre>
            </h5>
            <h5 class="col-6">
                <pre>English Level<p class="fw-bolder">Thoda English</p></pre>
                <pre>Gender<p class="fw-bolder">Both</p></pre>
            </h5>
            <h5>
                <pre>Address<p class="fw-bolder">Uttar Pradesh, India, Pipari, Aligarh, Uttar Pradesh - 200201</p></pre>
            </h5>
            <h4>Job Description</h4>
            <p>The Scope of work will be of execution of Tube Well/intake well, pump house, Pipeline, Sump, elevated reservoir, Over Head Tank, Filtration Unit, WTP, Chemical House and distribution system of Individual House connections, installation of treatment units for removal of contamination in drinking water etc.,
                The candidate should have well experience in Rural Water Supply Project and includes all ancillary works-in-line with the approved DPR & BOQ of SWSM/Client and various guidelines issued from time to time.
            </p>
        </div>
    </div>
</div>

<div class="mt-5">
    <app-job-description></app-job-description>
</div>
